.private-row {
  min-height: 75vh;
  .accordion.private-accordion {
    --bs-accordion-bg: inherit;

    .accordion-separator {
      margin: 30px auto 15px auto;
      text-align: center;
      font-family: $font-titles;
      color: $jet;

      .separator-line {
        width: 20%;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.815);
      }

      .separator-explain {
        font-size: 0.65rem;
        font-family: $font-body;
        font-style: italic;
        color: rgb(68, 69, 77);
        line-height: 1.1;
        letter-spacing: -0.4px;
        word-spacing: -0.6px;

        @media screen and (min-width: 576px) {
          font-size: 0.75rem;
          letter-spacing: -0.2px;
          word-spacing: 0px;
        }
      }
    }

    .accordion-item {
      background-color: inherit;
      border-bottom: 0.6px solid rgba(128, 128, 128, 0.219) !important;

      .accordion-header {
        font-family: $font-titles;
      }

      .accordion-button {
        color: rgb(66, 66, 66);
        &:not(.collapsed) {
          background-color: inherit;
          -webkit-box-shadow: inset 0px -8px 6px -5px rgba(154, 155, 173, 0.73);
          -moz-box-shadow: inset 0px -8px 6px -5px rgba(154, 155, 173, 0.73);
          box-shadow: inset 0px -8px 6px -5px rgba(154, 155, 173, 0.73);
        }
        &:focus {
          border-color: none;
          outline: 0;
          box-shadow: none;
          color: black;
        }
        &::after {
          background-image: url("../images/arrow.svg");
        }
      }
    }

    .wallet-info-col {
      h6 {
        font-size: 0.8rem;
        font-family: $font-titles;
      }
      p {
        font-size: 0.75rem;
        font-family: $font-body;
      }
      .address-p {
        width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: color, font-weight 0.2s ease-in;
        cursor: pointer;
        &:hover {
          color: black;
          font-weight: 600;
        }
      }

      @media screen and (min-width: 476px) {
        h6 {
          font-size: 0.9rem;
        }
        p {
          font-size: 0.85rem;
        }
        .address-p {
          width: 70%;
        }
      }

      @media screen and (min-width: 992px) {
        h6 {
          font-size: 1rem;
        }
        p {
          font-size: 0.9rem;
        }
        .address-p {
          width: 70%;
        }
      }

      @media screen and (min-width: 1200px) {
        h6 {
          font-size: 1.1rem;
        }
        p {
          font-size: 0.95rem;
        }
        .address-p {
          width: 80%;
        }
      }
    }

    .form-control,
    #control-birthdate-info {
      width: 100%;
      font-family: $font-body;
      letter-spacing: -0.4px;
      word-spacing: -2px;
      font-size: 0.7rem;
      background-color: rgba(211, 211, 211, 0.397);
      border-color: rgba(128, 128, 128, 0.445);

      &:focus {
        -webkit-box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        -moz-box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
      }
    }

    .control-area::-webkit-scrollbar {
      width: 5px;
    }

    .control-area::-webkit-scrollbar-thumb {
      background-color: rgba(51, 51, 51, 0.582);
      border-radius: 4px;
    }

    .control-area::-webkit-scrollbar-track {
      background-color: inherit;
    }

    .form-label {
      font-size: 0.85rem;
      font-family: $font-titles;
      margin-bottom: 4px;
      margin-top: 12px;
      color: $jet;
    }

    .confirmation-btn {
      background-color: rgba(211, 211, 211, 0.397);
      border-color: gray;
      font-family: $font-body;
      font-size: 0.8rem;
      color: gray;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: rgba(128, 128, 128, 0.555);
        color: #fff;
      }
    }

    .react-datepicker-wrapper {
      display: block;

      &:focus-visible {
        -webkit-box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        -moz-box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        outline: #ffffff00 !important;

        .react-datepicker__input-container {
          outline: #ffffff00 !important;
        }

        #control-birthdate-info {
          outline-offset: 0px;
        }
      }
    }

    // EDU EXP ITEM COMPONENT SECTION:

    .card.expanded {
      max-height: 350px;
    }

    .card {
      background-color: inherit;
      border-color: rgba(128, 128, 128, 0.445);
      max-height: 300px;
      overflow: hidden;
      -webkit-transition: max-height 1s;
      -moz-transition: max-height 1s;
      -ms-transition: max-height 1s;
      -o-transition: max-height 1s;
      transition: max-height 1s;

      .card-header {
        background-color: rgba(138, 138, 138, 0.514);
        h4.private-eduExp-title {
          font-size: 1rem;
          text-transform: uppercase;
          font-family: $font-titles;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .private-eduExp-btn {
          background-color: rgba(211, 211, 211, 0.397);
          border-color: #ffffff00;

          .icon {
            color: $jet;
            transition: color 0.2s ease;
          }

          &:hover {
            border: 1px solid gray;
            background-color: rgba(138, 138, 138, 0.514);

            .icon {
              color: #fff;
            }
          }
        }

        .dropdown-toggle::after {
          display: none;
        }

        h5.private-eduExp-subtitle {
          font-size: 0.9rem;
          color: rgb(87, 87, 87);
          font-family: $font-titles;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .private-eduExp-dates {
          font-size: 0.55rem;
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      .card-body {
        background-color: rgba(211, 211, 211, 0.397);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(51, 51, 51, 0.582);
          border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: inherit;
        }

        p.private-description-head {
          font-size: 0.65rem;
          font-family: $font-titles;
          text-transform: uppercase;
          color: gray;
        }

        p.private-eduExp-description {
          font-size: 0.7rem;
          font-family: $font-body;
          letter-spacing: -0.2px;
          word-spacing: -2px;
        }
      }

      .private-eduExp-expand.off {
        position: sticky;
        bottom: 0;
        background-color: rgba(185, 185, 185, 1);
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        transition-property: background-color, box-shadow;
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
        cursor: pointer;
        -webkit-box-shadow: 0px -18px 20px 20px rgba(185, 185, 185, 1);
        -moz-box-shadow: 0px -18px 20px 20px rgba(185, 185, 185, 1);
        box-shadow: 0px -18px 20px 20px rgba(185, 185, 185, 1);

        .expand-icon {
          color: $jet;
          transition-property: transform, color;
          -webkit-transition: 0.15s ease-out;
          -moz-transition: 0.15s ease-out;
          -o-transition: 0.15s ease-out;
          transition: 0.15s ease-out;
        }

        &:hover {
          background-color: rgba(138, 138, 138, 1);
          -webkit-box-shadow: 0px -18px 20px 20px rgba(138, 138, 138, 1);
          -moz-box-shadow: 0px -18px 20px 20px rgba(138, 138, 138, 1);
          box-shadow: 0px -18px 20px 20px rgba(138, 138, 138, 1);
          .expand-icon {
            transform: scale(1.08);
            color: #fff;
          }
        }
      }

      .private-eduExp-expand.on {
        bottom: 0;
        background-color: rgba(185, 185, 185, 1);
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        transition-property: background-color, box-shadow;
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
        cursor: pointer;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        .expand-icon {
          color: $jet;
          transition-property: transform, color;
          -webkit-transition: 0.15s ease-out;
          -moz-transition: 0.15s ease-out;
          -o-transition: 0.15s ease-out;
          transition: 0.15s ease-out;
        }

        &:hover {
          background-color: rgba(138, 138, 138, 1);
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          .expand-icon {
            transform: scale(1.08);
            color: #fff;
          }
        }
      }
    }

    .accordion-item.about-me {
      .img-preview {
        width: 150px;
        height: 150px;
        border-radius: 9999px;
        background-image: url("../images/avatar.jpg");
        background-size: cover;
        background-position: right;
      }
    }
  }
}

.edit-edu-exp-modal {
  .modal-header {
    .modal-title {
      font-family: $font-titles;
    }
  }

  .modal-body {
    .edu-exp-datepicker-container {
      width: 50%;

      label {
        display: block;
      }

      input {
        width: 100px;
        font-size: 0.8rem;
        font-family: $font-body;
        background-color: rgba(255, 255, 255, 0.712);
        border-color: rgba(128, 128, 128, 0.445);
      }

      &:focus-visible {
        -webkit-box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        -moz-box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        box-shadow: inset 0px -1px 8px -3px rgba(133, 133, 140, 1);
        outline: #ffffff00 !important;

        .react-datepicker__input-container {
          outline: #ffffff00 !important;
        }

        input {
          outline-offset: 0px;
        }
      }
    }

    .form-control#edu-exp-description {
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(51, 51, 51, 0.582);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: inherit;
      }
    }
  }

  .modal-footer {
    .confirmation-btn.loading {
      background-color: rgba(155, 155, 155, 0.74);
    }
    .btn {
      .loader {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 32px 0 #fff, -32px 0 #fff;
        position: relative;
        animation: flash 0.5s ease-out infinite alternate;
      }

      @keyframes flash {
        0% {
          background-color: #fff2;
          box-shadow: 32px 0 #fff2, -32px 0 #fff;
        }
        50% {
          background-color: #fff;
          box-shadow: 32px 0 #fff2, -32px 0 #fff2;
        }
        100% {
          background-color: #fff2;
          box-shadow: 32px 0 #fff, -32px 0 #fff2;
        }
      }
    }
  }
}

.confirmation-modal {
  .modal-header.header-deletion {
    background-color: #b22222ce;
    .modal-title {
      color: white;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }

  .modal-body.body-deletion {
    p {
      font-family: $font-body;
      font-size: 0.85rem;
      letter-spacing: -0.3px;
      word-spacing: -3px;
    }
  }

  .modal-footer.footer-deletion {
    .confirmation-btn {
      width: fit-content !important;
    }

    .delete-btn {
      font-family: $font-body;
      font-size: 0.8rem;
      background-color: #b22222b9;
      border-color: #b22222b9;

      &:hover {
        background-color: #b22222fd;
        border-color: #b22222fd;
      }
    }
  }
}

.private-rejected-col {
  h2 {
    width: fit-content;
    font-family: $font-titles;
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    background-color: $jet;
  }

  div {
    background-color: rgba(241, 241, 241, 0.55);

    h5 {
      font-weight: 600;
      font-size: 1.1rem;
      font-family: $font-body;
      color: $jet;
    }

    p {
      font-size: 0.95rem;
      font-family: $font-body;
    }

    .or {
      text-align: center;
      font-size: 1.4rem;
      font-family: $font-titles;
    }
    .redirect-btn {
      width: 45% !important;
      background-color: rgba(121, 121, 121, 0.822);
      border-color: gray;
      font-family: $font-body;
      font-weight: 500;
      font-size: 1rem;
      color: white;
      width: 100%;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        background-color: rgba(66, 66, 66, 0.74);
        color: #fff;
        border-color: gray;
      }
    }
  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.5rem;
    }

    div {
      h5 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.15rem;
      }

      .or {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .redirect-btn {
        font-size: 1.1rem;
      }
    }
  }
}
