// background gradient color:

$blueish_gray: #a4b1c4;
$light_gray: #c9cbce;

// other colors:
$khaki: #c1ae9fff;
$jet: #373737ff;
$space-cadet: #222244ff;
$celtic-blue: #276fbfff;
$electric-blue: #8af3ffff;

// fonts:

$font-titles: "Roboto", sans-serif;
$font-body: "Roboto Mono", monospace;
